﻿@model IEnumerable<IntSorter.Models.DbItems.IntegerArray>

@{
    ViewBag.Title = "int sorter";
}

@section head_css{
    <link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
}

@section head_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/MyScripts/myScript.js")"></script>
}

<div class="dialog" id="del_dialog">
    <div class="d_header">
        <p>Delete confirmation</p>
    </div>
    <div class="d_body">
        <p>
            Do you realy want to delete this item?<br>
        </p>
    </div>
    <div class="d_footer">
        <button type="button" class="dialog_buttons" id="dd_confirm_btn">Yes</button>
        <button type="button" class="dialog_buttons" id="dd_cancel_button">No</button>
    </div>
</div>

<form method="post" action="/Home/Index" class="form-group my-form">
    <label for="numArray">Integers separated by a comma: </label> <br />
    <input type="text" name="numArray" class="form-control"> <br />
    @Html.ValidationMessage("numArray", "")
    <div class="form-group">
        <input type="radio" name="orderRbtn" value="ascending" checked> ascending
        <input type="radio" name="orderRbtn" value="descending"> descending
    </div>
    <div class="form-footer">
        <input type="submit" value="Submit" class="dialog_buttons">
    </div>

    @Html.ValidationMessage("dbError", "")
</form>

@Html.ValidationMessage("deleteError", "")
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> Integer sequence</th>
                <th> Sort order</th>
                <th> Sorting time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StringArray)</td>
                    <td>@Html.DisplayFor(modelItem => item.SortOrder)</td>
                    <td>@Html.DisplayFor(modelItem => item.TimeInMillis)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", null, new { @class = "delete", href = "javascript:void(0)", itemId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>