﻿/* ------------ base dialog style--------------*/
.dialog{
  /*height: 15em;*/
  /*width: 16em;*/
  background-color: rgba(0,0,5,0.85);
  padding: 0.5em;
  border: 0.25em ridge black;
  border-radius: 1em;
  position:absolute;
  display:block;
}

/* header sector*/
.d_header{
  background-color: darkgrey;
  background-image: linear-gradient(to bottom, #4C4C4C, #333333);
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 1em;
  border-radius: 0.75em;
}

/* body sector*/
.d_body{
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid darkgrey;
  color: white;
  font-size: 1em;
}


/* footer sector*/
.d_footer{
  width:100%;
  text-align: center;
  padding: 1em 0;
}

.dialog_buttons{
  width:5em;
  height: 2em;
  border-radius: 0.5em;
  margin-right:1em;
  margin-left:1em;
  background-image:linear-gradient( to bottom, #fffdc2, #666666 5%, #636363 50%, #545454 52%, #666666 95%);
}

/* ------------ insert form style-------------*/

.my-form{
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    text-align:center;

    margin-left:auto;
   margin-right:auto;
   display:block;
}

.form-buttons{
    margin-top: 5px;
    margin-bottom: 10px;
}

.input-width_1{
    width: 225px;
}

.form-footer{
    text-align:center;
}

.error-mess{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    background-color: red;
    font-weight: bold;
}

/* --------- delete buttons in the table ---------*/
.table tbody a,.my_table a:visited{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    /*border-bottom: 1px solid black;*/
    border-right: 1.5px ridge black;
    border-left: 1.5px ridge black;
    border-radius: 5em;
    color: black;
    box-shadow: 1px 1px 1px #888888;
    text-decoration: none;
}
.table tbody  tr:hover a:hover{
    text-decoration:none;
    color:black;
    text-shadow: 0em 0em 0.1em #fb0d05, 0em 0em 0.2em #fc2119, 0em 0em 0.3em #fb463f, 0em 0em 0.4em #fc625c, 0em 0em 0.5em #f8938f;
}

.table tbody a:active{
    box-shadow: 0px 0px 0px #888888;
    transform: translate(1px, 1px); 
}

/* ---------- validation field -------------*/
.field-validation-error{
    color: red;
    font-weight:bold;
}
