﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

footer{
    text-align:left;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-wrapp {
  text-align:center;
  width: 800px;
  margin: 0 auto;
}

h1{
    text-align: center;
}